@model CloudSaba.Models.IceCream

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    .details-title {
        color: pink;
        font-size: 24px; /* Adjust the font size as needed */
    }

    .icecream-details {
        display: flex;
        align-items: flex-start;
    }

    .icecream-image {
        max-width: 500px; /* Set the maximum width for the image */
        margin-right: 60px; /* Adjust the margin as needed */
    }

    .details-section {
        flex: 1;
        font-size: 18px; /* Adjust the font size as needed */
    }
</style>

<h1 class="details-title">Details</h1>

<div class="icecream-details">
    <div class="icecream-image" style="width: 500px; height: 500px;">
        <img class="rounded-circle w-100 h-100" src="@Model.ImageUrl" style="object-fit: cover;">
    </div>
    <div class="details-section">
        <h4>@Model.Name</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Details)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Details)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


